extends ../layout


block content
    .row
        .col-md-6
            h1 check new albums 
        .col-md-6
            a(href="/products/add" class="btn btn-primary float-right") Add Item
        table.table
            thead
                tr
                    th song
                    th singer
                    th released in
                    th rate it
                    th comments
            tbody
                each product in products
                    tr 
                        td=product.name
                        td=product.price
                        td=product.city
                        td=product.location
                        td=product.detail
                        td  
                            a(href="/products/delete/"+product._id    class="btn btn-danger") play
                            a(href="/products/edit/"+product._id    class="btn btn-info") download